body {
	background-color: #282a36;
    color: #f8f8f2;
    margin: 10px 15%;
}

img, video {
    border-radius: 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

pre {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}

pre code {
    border-radius: 5px;
}

.wall {
    column-width: 400px;
    columns-gap: 1rem;
}

.slideshow {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.card {
	background-color: #44475a;
    width: 100%;
	padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-bottom: 1rem;
    display: inline-block;
    box-sizing: border-box;
}

.slideshow .card,
.slideshow img {
    flex: 0 0 400px;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    margin-bottom: 0;
}

.card h3 {
    text-align: center;
}

.card p {
    text-align: justify;
}