body {
	background-color: #282a36;
    color: #f8f8f2;
    margin: 20px 15%;
}

img, video {
    border-radius: 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

pre {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}

pre code {
    border-radius: 5px;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem 0;
  position: relative;
}

h2::before {
  content: ">";
  color: #8be9fd;
  margin-right: 0.4rem;
}

hr {
  width: 100%;
  height: 5px;
  margin: 1rem 0;
  background: #44475a;
  border: hidden;
  border-radius: 5px;
}

.card {
	background-color: #44475a;
	padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: justify;
}

.card h3 {
    text-align: center;
}


.wall {
    column-width: 400px;
    columns-gap: 1rem;
}

.wall .card {
    width: 100%;
    margin-bottom: 1rem;
}

.slideshow {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0px;
}

.slideshow .card,
.slideshow img,
.slideshow video {
    width: 400px;
    height: 400px;
    margin-bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    flex: 0 0 auto;
}

#microframe .card {
    width: 400px;
}

.elem-shrink,
.elem-stable,
.elem-grow {
    background-color: #44475a;
    width: 200px;
    height: 200px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    text-wrap: wrap;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

#microframe .elem-stable{
    width: 200px;
    height: 200px;
}

#microframe .elem-grow{
    width: 100%;
    height: 100%;
}

.anim-demo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #44475a;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.anim-demo .preset-buttons {
  display: flex;
  gap: 0.5rem;
}

.anim-demo .preset-buttons button {
    flex: 1;
}

.anim-demo .variables {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.anim-demo .variables .variable-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    min-width: 200px;
}

.anim-demo .variables .variable-inputs label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
  font-size: 0.9rem;
}

.anim-demo .variables .variable-inputs label input {
    flex: 1;
    min-width: 50px;
}

.anim-demo .variables .css-editor {
  flex: 1;
  font-family: monospace;
  resize: none;
  overflow: hidden;
  min-width: 200px;
  min-height: calc(8 * 1rem);
  border-radius: 5px;
  background-color: #282c34;
  color: #abb2bf;
}

.anim-demo .slideshow .card,
.anim-demo .slideshow img {
    width: 200px;
    height: 200px;
    text-align: center;
}

